.main-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 1200px
}
.style129 {
  background-image: url(https://designresources.assets.yotako.io/40599ujjicap3tp.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  position: relative;
  margin-left: 0;
  margin-top: 0;
  width: 1200px;
  height: 86px;
  align-items: stretch
}
.style121,
.style122,
.style129 {
  display: flex;
  flex-direction: column
}
.style121 {
  background-color: #fff;
  position: relative;
  margin-top: 33px;
  flex-shrink: 0;
  height: 681px;
  align-items: stretch
}
.style122 {
  background-image: url(https://designresources.assets.yotako.io/40599ujjicap3nc.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  height: 679px;
  align-items: center
}
.style123 {
  color: #02baab;
  text-align: center;
  font-family: Oxygen,serif;
  font-size: 2.4375em;
  font-weight: 300;
  line-height: 69px;
  margin-top: 298px;
  width: 427px
}
.image30container51image28row1 {
  display: flex;
  margin-top: 70px;
  width: 218px;
  height: 31px;
  align-items: stretch
}
.style124 {
  background-color: #02baab;
  display: flex;
  margin-left: 0;
  width: 99px;
  align-items: center;
  flex-direction: column;
  justify-content: center
}
.style125 {
  color: #fff;
  text-align: center;
  font-family: Oxygen,serif;
  font-size: .5625em;
  font-weight: 700;
  letter-spacing: 1px;
  height: 7px
}
.style126 {
  background-color: #ffae00;
  border-left: 1px solid #02baab;
  border-right: 1px solid #02baab;
  border-top: 1px solid #02baab;
  border-bottom: 1px solid #02baab;
  display: flex;
  margin-left: 19px;
  width: 99px;
  align-items: center;
  flex-direction: column;
  justify-content: center
}
.style127 {
  color: #02baab;
  text-align: center;
  font-family: Oxygen,serif;
  font-size: .5625em;
  font-weight: 700;
  letter-spacing: 1px;
  height: 7px
}
.style128 {
  margin-top: 157px;
  width: 100px;
  height: 2px
}
.style119 {
  color: #3b4954;
  text-align: center;
  font-family: Oxygen,serif;
  font-size: 1.5em;
  font-weight: 300;
  margin-left: 496px;
  margin-top: 698px;
  height: 20px
}
.style118 {
  margin-left: 582px;
  margin-top: 21px;
  width: 36px;
  height: 4px
}
.style117 {
  color: #3b4954;
  text-align: center;
  font-family: Oxygen,serif;
  font-size: .75em;
  font-weight: 300;
  line-height: 24px;
  margin-left: 336px;
  margin-top: 36px;
  width: 526px
}
.style120 {
  margin-left: 550px;
  margin-top: 33px;
  width: 100px;
  height: 29px
}
.style73,
.style74 {
  display: flex;
  flex-direction: column
}
.style73 {
  background-color: #0c8fcc;
  margin-left: 0;
  margin-top: 70px;
  width: 1200px;
  height: 531px;
  align-items: stretch
}
.style74 {
  background-image: url(https://designresources.assets.yotako.io/40599ujjicap2hx.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  height: 529px;
  align-items: center
}
.style96 {
  color: #fff;
  text-align: center;
  font-family: Oxygen,serif;
  font-size: 1.5em;
  font-weight: 300;
  margin-top: 71px;
  height: 20px
}
.style95 {
  margin-top: 21px;
  width: 36px;
  height: 4px
}
.style97 {
  color: #fff;
  text-align: center;
  font-family: Oxygen,serif;
  font-size: .75em;
  font-weight: 300;
  line-height: 24px;
  margin-top: 36px;
  width: 526px
}
.container33image18row3 {
  display: flex;
  margin-top: 31px;
  width: 666px;
  height: 209px;
  align-items: stretch;
  justify-content: space-between
}
.style81,
.style82 {
  display: flex;
  flex-direction: column
}
.style81 {
  background-color: #1880b0;
  border-left: 0 solid #000;
  border-right: 0 solid #000;
  border-top: 0 solid #000;
  border-bottom: 50px solid rgba(0,0,0,.7);
  box-shadow: inset 0 -50px 0 0 rgba(0,0,0,.7);
  width: 209px;
  align-items: stretch
}
.style82 {
  background-image: url(https://designresources.assets.yotako.io/40599ujjicap2lm.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  height: 207px;
  align-items: center
}
.container33image18row3container39image20row0 {
  display: flex;
  margin-top: 170px;
  width: 177px;
  height: 10px;
  align-items: stretch
}
.style84 {
  color: #fff;
  font-family: Oxygen,serif;
  font-size: .5625em;
  font-weight: 300;
  margin-left: 0
}
.style86 {
  background-color: #fff;
  margin-left: 93px;
  width: 11px
}
.container33image18row3container39image20row1 {
  display: flex;
  margin-top: 6px;
  width: 179px;
  height: 8px;
  align-items: stretch
}
.style83,
.style85 {
  color: #02baab;
  font-family: Oxygen,serif;
  font-size: .5em;
  font-weight: 300;
  margin-left: 0
}
.style85 {
  text-align: center;
  margin-left: 76px
}
.style75,
.style76,
.style77 {
  display: flex;
  flex-direction: column
}
.style75 {
  background-color: #1880b0;
  width: 209px;
  align-items: stretch
}
.style76,
.style77 {
  align-items: center
}
.style76 {
  background-image: url(https://designresources.assets.yotako.io/40599ujjicap2jy.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  justify-content: center;
  height: 207px
}
.style77 {
  background-color: #02baab;
  width: 31px;
  height: 102px
}
.style78,
.style79,
.style80 {
  background-color: #fff;
  margin-top: 10px;
  width: 15px;
  height: 13px
}
.style78,
.style80 {
  margin-top: 21px;
  height: 15px
}
.style80 {
  margin-top: 20px;
  height: 16px
}
.style87,
.style88 {
  display: flex;
  flex-direction: column
}
.style87 {
  background-color: #1880b0;
  border-left: 0 solid #000;
  border-right: 0 solid #000;
  border-top: 0 solid #000;
  border-bottom: 50px solid rgba(0,0,0,.7);
  box-shadow: inset 0 -50px 0 0 rgba(0,0,0,.7);
  width: 209px;
  align-items: stretch
}
.style88 {
  background-image: url(https://designresources.assets.yotako.io/40599ujjicap2nr.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  height: 207px;
  align-items: center
}
.container33image18row3container41image21row0 {
  display: flex;
  margin-top: 170px;
  width: 177px;
  height: 11px;
  align-items: stretch
}
.style90 {
  color: #fff;
  font-family: Oxygen,serif;
  font-size: .5625em;
  font-weight: 300;
  margin-left: 0
}
.style92 {
  background-color: #fff;
  margin-left: 18px;
  width: 11px
}
.container33image18row3container41image21row1 {
  display: flex;
  margin-top: 6px;
  width: 179px;
  height: 8px;
  align-items: stretch
}
.style89,
.style91 {
  color: #02baab;
  font-family: Oxygen,serif;
  font-size: .5em;
  font-weight: 300;
  margin-left: 0
}
.style91 {
  margin-left: 76px
}
.container33image18row4 {
  display: flex;
  margin-top: 19px;
  width: 36px;
  height: 12px;
  align-items: stretch
}
.style93,
.style94 {
  background-color: #fff;
  margin-left: 0;
  width: 7px
}
.style93 {
  margin-left: 21px
}
.style72 {
  margin-left: 0;
  margin-top: 0;
  width: 1200px;
  height: 101px
}
.style103 {
  color: #3b4954;
  text-align: center;
  font-family: Oxygen,serif;
  font-size: 1.5em;
  font-weight: 300;
  margin-left: 511px;
  margin-top: 56px;
  height: 26px
}
.style104 {
  margin-left: 582px;
  margin-top: 15px;
  width: 36px;
  height: 4px
}
.row9 {
  display: flex;
  margin-left: 271px;
  margin-top: 30px;
  width: 544px;
  height: 29px;
  align-items: center
}
.style113 {
  background-color: #02baab;
  margin-left: 0;
  width: 29px;
  height: 100%
}
.style111 {
  color: #000;
  font-family: Oxygen,serif;
  font-size: 1em;
  font-weight: 300;
  margin-left: 25px;
  height: 17px
}
.style116 {
  background-color: #02baab;
  margin-left: 116px;
  width: 27px;
  height: 25px
}
.style114 {
  color: #000;
  font-family: Oxygen,serif;
  font-size: 1em;
  font-weight: 300;
  margin-left: 27px;
  height: 14px
}
.row10 {
  display: flex;
  margin-left: 324px;
  margin-top: 6px;
  width: 600px;
  height: 45px;
  align-items: stretch
}
.style112,
.style115 {
  color: #3b4954;
  font-family: Oxygen,serif;
  font-size: .5625em;
  font-weight: 300;
  line-height: 19px;
  margin-left: 0;
  width: 254px
}
.style115 {
  margin-left: 89px;
  width: 257px
}
.row11 {
  position: relative;
  display: flex;
  margin-left: 273px;
  margin-top: 41px;
  width: 591px;
  height: 24px;
  align-items: flex-end
}
.style107 {
  background-color: #02baab;
  margin-left: 0;
  width: 24px;
  height: 100%;
  flex-shrink: 0
}
.style105 {
  color: #000;
  font-family: Oxygen,serif;
  font-size: 1em;
  font-weight: 300;
  margin-left: 28px;
  height: 14px;
  flex-shrink: 0
}
.style110 {
  background-color: #02baab;
  margin-left: 96px;
  width: 31px;
  height: 20px;
  flex-shrink: 0
}
.style108 {
  color: #000;
  font-family: Oxygen,serif;
  font-size: 1em;
  font-weight: 300;
  position: relative;
  margin-left: 26px;
  height: 18px;
  flex-shrink: 0
}
.row12 {
  display: flex;
  margin-left: 324px;
  margin-top: 10px;
  width: 601px;
  height: 44px;
  align-items: stretch
}
.style106,
.style109 {
  color: #3b4954;
  font-family: Oxygen,serif;
  font-size: .5625em;
  font-weight: 300;
  line-height: 19px;
  margin-left: 0;
  width: 206px
}
.style109 {
  margin-left: 137px;
  width: 258px
}
.style98,
.style99 {
  display: flex;
  flex-direction: column
}
.style98 {
  background-color: #02baab;
  margin-left: 0;
  margin-top: 69px;
  width: 1200px;
  align-items: stretch;
  height: 324px
}
.style99 {
  background-image: url(https://designresources.assets.yotako.io/40599ujjicap2y3.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  height: 321px
}
.style100 {
  background-color: #02baab;
  margin-top: 70px;
  width: 34px;
  height: 28px;
  align-self: center
}
.style101 {
  color: #fff;
  text-align: center;
  font-family: Lato,serif;
  font-size: 1em;
  font-weight: 700;
  line-height: 28px;
  margin-top: 34px;
  width: 439px;
  align-self: center
}
.style102 {
  margin-left: 562px;
  margin-top: 31px;
  width: 64px;
  height: 5px
}
.style70 {
  color: #3b4954;
  text-align: center;
  font-family: Oxygen,serif;
  font-size: 1.5em;
  font-weight: 300;
  margin-left: 504px;
  margin-top: 71px;
  height: 26px
}
.style71 {
  margin-left: 582px;
  margin-top: 8px;
  width: 36px;
  height: 4px
}
.row16,
.style54 {
  display: flex;
  align-items: stretch
}
.row16 {
  margin-left: 266px;
  margin-top: 48px;
  height: 159px;
  justify-content: space-between;
  width: 666px
}
.style54 {
  background-color: #ff0303;
  width: 209px;
  flex-direction: column
}
.style55 {
  height: 157px
}
.style61 {
  background-color: #ff0303;
  display: flex;
  width: 209px;
  align-items: stretch;
  flex-direction: column
}
.style62 {
  height: 157px
}
.style68 {
  background-color: #ff0303;
  display: flex;
  width: 209px;
  align-items: stretch;
  flex-direction: column
}
.style69 {
  height: 157px
}
.row17 {
  display: flex;
  margin-left: 267px;
  margin-top: 21px;
  width: 629px;
  height: 35px;
  align-items: stretch;
  justify-content: space-between
}
.style53,
.style60,
.style67 {
  color: #02baab;
  font-family: Oxygen,serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 28px;
  width: 171px
}
.style67 {
  color: #6d0fae
}
.row18 {
  display: flex;
  margin-left: 268px;
  margin-top: 20px;
  width: 662px;
  height: 68px;
  align-items: stretch;
  justify-content: space-between
}
.style49,
.style56,
.style63 {
  color: #555;
  font-family: Oxygen,serif;
  font-size: .5625em;
  font-weight: 300;
  line-height: 19px;
  width: 205px
}
.row19,
.style51 {
  position: relative
}
.row19 {
  display: flex;
  margin-top: 2836px;
  height: 11px;
  align-items: stretch;
  margin-left: 438px;
  width: 494px
}
.style51 {
  background-color: #02baab;
  margin-left: 0;
  width: 15px
}
.style52 {
  color: #3b4954;
  font-family: Oxygen,serif;
  font-size: .5625em;
  font-weight: 300;
  margin-left: 5px
}
.style58 {
  background-color: #02baab;
  position: relative;
  margin-left: 191px;
  width: 15px
}
.style59 {
  color: #3b4954;
  font-family: Oxygen,serif;
  font-size: .5625em;
  font-weight: 300;
  margin-left: 5px
}
.style65 {
  background-color: #6d0fae;
  position: relative;
  margin-left: 191px;
  width: 15px
}
.style66 {
  color: #3b4954;
  font-family: Oxygen,serif;
  font-size: .5625em;
  font-weight: 300;
  margin-left: 5px
}
.row20 {
  display: flex;
  margin-left: 266px;
  margin-top: 18px;
  width: 666px;
  height: 3px;
  align-items: stretch;
  justify-content: space-between
}
.style50,
.style57,
.style64 {
  background-color: #c3c3c3;
  width: 209px
}
.style29 {
  background-color: #02baab;
  display: flex;
  margin-left: 0;
  margin-top: 69px;
  width: 1200px;
  height: 459px;
  flex-direction: column
}
.style48 {
  color: #fff;
  text-align: center;
  font-family: Oxygen,serif;
  font-size: 1.5em;
  font-weight: 300;
  margin-top: 73px;
  height: 26px;
  align-self: center
}
.style47 {
  margin-top: 14px;
  width: 36px;
  height: 4px;
  align-self: center
}
.container12row2 {
  display: flex;
  margin-left: 236px;
  margin-top: 6px;
  width: 621px;
  height: 176px
}
.style30,
.style31,
.style32 {
  display: flex;
  flex-direction: column
}
.style31 {
  background-image: url(https://designresources.assets.yotako.io/40599ujjicap1lt.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  opacity: .8;
  position: relative;
  margin-left: 0;
  width: 107px;
  height: 106px
}
.style30,
.style32 {
  align-items: center;
  justify-content: center
}
.style30 {
  border-left: 4px solid #fff;
  border-right: 4px solid #fff;
  border-top: 4px solid #fff;
  border-bottom: 4px solid #fff;
  position: relative;
  margin-left: 31px;
  margin-top: 28px;
  flex-shrink: 0;
  background-color: #02baab;
  border-top-left-radius: 78px;
  border-top-right-radius: 78px;
  border-bottom-left-radius: 78px;
  border-bottom-right-radius: 78px;
  width: 152px;
  height: 152px
}
.style32 {
  background-color: #000;
  border-top-left-radius: 39px;
  border-top-right-radius: 39px;
  border-bottom-left-radius: 39px;
  border-bottom-right-radius: 39px;
  width: 74px;
  height: 74px
}
.style33,
.style45 {
  background-color: #fff;
  width: 45px;
  height: 41px
}
.style45 {
  position: relative;
  margin-left: 208px;
  margin-top: 103px;
  width: 52px;
  height: 9px
}
.style35,
.style36,
.style37 {
  display: flex;
  flex-direction: column
}
.style36 {
  background-image: url(https://designresources.assets.yotako.io/40599ujjicap1n1.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  opacity: .8;
  position: relative;
  margin-left: 0;
  width: 107px;
  height: 100%;
  align-self: stretch
}
.style35,
.style37 {
  align-items: center;
  justify-content: center
}
.style35 {
  border-left: 4px solid #fff;
  border-right: 4px solid #fff;
  border-top: 4px solid #fff;
  border-bottom: 4px solid #fff;
  position: relative;
  margin-left: 31px;
  margin-top: 28px;
  flex-shrink: 0;
  background-color: #02baab;
  border-top-left-radius: 77px 78px;
  border-top-right-radius: 77px 78px;
  border-bottom-left-radius: 77px 78px;
  border-bottom-right-radius: 77px 78px;
  width: 151px;
  height: 152px
}
.style37 {
  background-color: #000;
  border-top-left-radius: 39px;
  border-top-right-radius: 39px;
  border-bottom-left-radius: 39px;
  border-bottom-right-radius: 39px;
  width: 74px;
  height: 74px
}
.style38,
.style46 {
  background-color: #fff;
  width: 39px;
  height: 39px
}
.style46 {
  position: relative;
  margin-left: 101px;
  margin-top: 103px;
  width: 52px;
  height: 9px
}
.style40,
.style41,
.style42 {
  display: flex;
  flex-direction: column
}
.style41 {
  background-image: url(https://designresources.assets.yotako.io/40599ujjicap1of.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  opacity: .8;
  position: relative;
  margin-left: 0;
  width: 107px;
  height: 106px
}
.style40,
.style42 {
  align-items: center;
  justify-content: center
}
.style40 {
  border-left: 4px solid #fff;
  border-right: 4px solid #fff;
  border-top: 4px solid #fff;
  border-bottom: 4px solid #fff;
  position: relative;
  margin-left: 31px;
  margin-top: 28px;
  flex-shrink: 0;
  background-color: #02baab;
  border-top-left-radius: 78px;
  border-top-right-radius: 78px;
  border-bottom-left-radius: 78px;
  border-bottom-right-radius: 78px;
  width: 152px;
  height: 152px
}
.style42 {
  background-color: #000;
  border-top-left-radius: 39px;
  border-top-right-radius: 39px;
  border-bottom-left-radius: 39px;
  border-bottom-right-radius: 39px;
  width: 74px;
  height: 74px
}
.style43 {
  background-color: #fff;
  width: 45px;
  height: 41px
}
.container12row3 {
  display: flex;
  margin-left: 268px;
  margin-top: 24px;
  width: 647px;
  height: 64px
}
.style34,
.style39 {
  color: #fff;
  font-size: 1.9375em;
  line-height: 43px
}
.style34 {
  text-align: center;
  font-family: Oxygen,serif;
  font-weight: 300;
  margin-left: 0;
  width: 150px
}
.style39 {
  margin-left: 130px;
  width: 105px
}
.style28,
.style39,
.style44 {
  text-align: center;
  font-family: Oxygen,serif;
  font-weight: 300
}
.style44 {
  line-height: 43px;
  width: 118px;
  color: #fff;
  font-size: 1.9375em;
  margin-left: 144px
}
.style28 {
  color: #3b4954;
  font-size: 1.5em;
  margin-left: 549px;
  margin-top: 71px;
  height: 19px
}
.style27 {
  margin-left: 582px;
  margin-top: 21px;
  width: 36px;
  height: 4px
}
.row24 {
  display: flex;
  margin-left: 266px;
  margin-top: 34px;
  width: 666px;
  height: 274px;
  align-items: stretch;
  justify-content: space-between
}
.style1 {
  background-color: #fff;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  display: flex;
  width: 152px;
  align-items: center;
  flex-direction: column
}
.row24container0row0 {
  display: flex;
  margin-top: 0;
  width: 100%;
  height: 200px
}
.style2 {
  background-color: #fff;
  width: 152px;
  height: 116px
}
.style3,
.style4 {
  display: flex;
  align-items: center;
  flex-direction: column
}
.style3 {
  background-image: url(https://designresources.assets.yotako.io/40599ujjicap17q.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  width: 150px;
  height: 100%
}
.style4 {
  background-color: #fff;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin-top: 91px;
  width: 99px;
  height: 45px;
  justify-content: center
}
.style6,
.style7 {
  color: #02baab;
  text-align: center;
  font-family: Oxygen,serif;
  font-size: .5625em;
  line-height: 16px;
  width: 71px
}
.style7 {
  color: #3b4954;
  font-weight: 300;
  line-height: 17px;
  margin-top: 21px;
  width: 109px
}
.style5 {
  margin-top: 21px;
  width: 97px;
  height: 29px
}
.style8,
.style9 {
  background-color: #fff;
  display: flex;
  flex-direction: column
}
.style8 {
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  width: 152px;
  align-items: center
}
.style9 {
  margin-top: 0;
  width: 100%;
  height: 201px;
  align-items: stretch
}
.style10 {
  height: 200px
}
.style11 {
  background-color: #02baab;
  border-left: 1px solid #02baab;
  border-right: 1px solid #02baab;
  border-top: 1px solid #02baab;
  border-bottom: 1px solid #02baab;
  display: flex;
  margin-top: 19px;
  width: 99px;
  height: 31px;
  align-items: center;
  flex-direction: column;
  justify-content: center
}
.style12 {
  color: #fff;
  text-align: center;
  font-family: Oxygen,serif;
  font-size: .5625em;
  font-weight: 700;
  letter-spacing: 1px;
  height: 7px
}
.style13 {
  background-color: #fff;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  display: flex;
  width: 152px;
  align-items: center;
  flex-direction: column
}
.row24container6row0 {
  display: flex;
  margin-top: 0;
  width: 100%;
  height: 200px
}
.style14 {
  background-color: #fff;
  width: 152px;
  height: 116px
}
.style15,
.style16 {
  display: flex;
  align-items: center;
  flex-direction: column
}
.style15 {
  background-image: url(https://designresources.assets.yotako.io/40599ujjicap1fe.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  width: 150px;
  height: 100%
}
.style16 {
  background-color: #fff;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin-top: 91px;
  width: 99px;
  height: 45px;
  justify-content: center
}
.style18,
.style19 {
  color: #02baab;
  text-align: center;
  font-family: Oxygen,serif;
  font-size: .5625em;
  line-height: 16px;
  width: 80px
}
.style19 {
  color: #3b4954;
  font-weight: 300;
  line-height: 17px;
  margin-top: 21px;
  width: 109px
}
.style17 {
  margin-top: 21px;
  width: 97px;
  height: 29px
}
.style20 {
  background-color: #fff;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  display: flex;
  width: 152px;
  align-items: center;
  flex-direction: column
}
.row24container9row0 {
  display: flex;
  margin-top: 0;
  width: 100%;
  height: 200px
}
.style21 {
  background-color: #fff;
  width: 152px;
  height: 116px
}
.style22,
.style23 {
  display: flex;
  align-items: center;
  flex-direction: column
}
.style22 {
  background-image: url(https://designresources.assets.yotako.io/40599ujjicap1ij.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  width: 150px;
  height: 100%
}
.style23 {
  background-color: #fff;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin-top: 91px;
  width: 99px;
  height: 45px;
  justify-content: center
}
.style25,
.style26 {
  color: #02baab;
  text-align: center;
  font-family: Oxygen,serif;
  font-size: .5625em;
  line-height: 16px;
  width: 76px
}
.style26 {
  color: #3b4954;
  font-weight: 300;
  line-height: 17px;
  margin-top: 21px;
  width: 109px
}
.style24 {
  margin-top: 21px;
  width: 97px;
  height: 29px
}
.style0 {
  margin-left: 0;
  margin-top: 91px;
  width: 1200px;
  height: 457px
}